# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# IoT / Raspberry Pi
*.log
*.bin

# Temporary or backup files
*.tmp
*.bak
